body {
    font-family: Arial, sans-serif;
    background-color: #79c27781;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    color: #417546;
    font-family: 'Amazone BT', serif; /* Alterada a fonte para 'Amazone BT' */
    text-shadow: 3px 3px 10px black; /* Adicionada sombra com deslocamento horizontal e vertical de 2px e tamanho de 5px */
}

h2 {
    font-size: 20px;
    color: #43814a;
    text-shadow: 5px 5px 10px black; /* Adicionada sombra com deslocamento horizontal e vertical de 2px e tamanho de 5px */
}

p {
    font-size: 15px;
    color: #417546;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    margin: 10px;
    font-size: 24px;
    color: black;
    transition: transform 0.3s, color 0.3s; /* Adicionada a transição da cor */
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #417546; /* Cor alterada ao passar o mouse */
}

.profile-picture {
    border-radius: 50%; /* Torna a imagem redonda */
    width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 150px;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    display: block;
}
